<div class="span-12">
  <h3>Spectrum</h3>
  <%= displayParameter(instanceValueSet,"Spectrum",{:width=>450,:height=>300}) %>
  <% plotData=instanceValueSet.instancevalues.find_by_name("Spectrum") %>
<%= form_tag({:controller => "instancevalues", :action => "exportPlot"}, :method => "get") do %>
    <%= hidden_field_tag(:instanceValueId,plotData.id) %>
    <%= label_tag(:imageFormat, "Format:") %>
    <% possibleFormat=options_for_select([['TXT',6]],6) %>
    <%= select_tag(:selectedExportFormat,possibleFormat) %>
    <%= submit_tag("Export Spectrum") %>
  <% end %>
</div>
<div class="span-12 last">
  <h3>Aquisition Parameters</h3>
  <ul>
    <li>Integration time: <%= displayParameter(instanceValueSet,"Integration Time") %></li>
    <li>Trigger mode: <%= displayParameter(instanceValueSet,"Triggermode",{:precision=>0}) %></li>
    <li>Device Status: <%= displayParameter(instanceValueSet,"Status") %></li>
  </ul>
</div>
