<h3>Details for instance <%= @instances.first.name %></h3>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>API Version</th>
      <th>Classtype</th>
      <th>Subsystem</th>
      <th>Created</th>
      <th>Updated</th>
      <th>#of Data Entries</th>
    </tr>
   </thead>
   <tbody> 
     <% @instances.each do |instance| %>
       <tr>
         <td><%= instance.version %></td>
         <td><%= instance.classtype.name %></td>
         <td><%= instance.subsystem.name %></td>
         <td><%= formatDate(instance.created_at) %></td>
         <td><%= formatDate(instance.updated_at) %></td>
         <td><%= instance.instancedatas.count %>
       </tr>
     <% end %>
   </tbody>
</table>
