<h2>Available Instances</h2>
<div class="span-24 last" id="databox">
  <div class="span-6" id="sidebar">
    <div id="subsystems">
      <h3 class="caps">Subsystems</h3>
      <div class="box">
        <%= link_to 'All', instances_path(:classtypeName => @selectedClasstypeName) %><br />
        <% @availableSubsystems.each do |subsystem| %>
          <% if @selectedSubsystemName==subsystem.name %>
          <% selection="large loud" %>
          <% else %>
          <% selection="" %>
          <% end %>
          <%= link_to subsystem,
          instances_path(:subsystemName => subsystem.name,:classtypeName => @selectedClasstypeName),
          :class => selection %><br />
        <% end %>
      </div>
    </div>
    <div id="class types">
      <h3 class="caps">Class types</h3>
      <div class="box">
        <%= link_to 'All', instances_path(:subsystemName => @selectedSubsystemName) %><br />
        <% @availableClasstypes.each do |classtype| %>
          <% if @selectedClasstypeName==classtype.name %>
          <% selection="large loud" %>
          <% else %>
          <% selection="" %>
          <% end %>
          <%= link_to classtype,
          instances_path(:classtypeName => classtype.name,:subsystemName => @selectedSubsystemName ),
          :class => selection %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="span-18 last" id="instances">
    <%= will_paginate @instances %>
    <table>
      <thead>
       <tr>
          <th>Name</th>
          <th>Classtype</th>
          <th>Subsystem</th>
          <th></th>
       </tr>
      </thead>
      <tbody>
        <% @instances.each do |instance| %>
        <tr>
          <td><%= link_to instance, instancevaluesets_path(:instance_id => instance) %></td>
          <td><%= instance.classtype %></td>
          <td><%= instance.subsystem %></td>
          <td><%= link_to "Details", instance %></td>
        </tr>
  <% end %>
      </tbody>
    </table>
  </div>
</div>

