<h2>Available Instances</h2>
<div class="span-24 last" id="databox">
  <div class="span-6" id="sidebar">
    <div id="subsystems">
      <h3 class="caps">Subsystems</h3>  
      <div class="box">
        <%= link_to 'All', instances_path %><br />
        <% @availableSubsystems.each do |subsystem| %>
          <%= link_to subsystem.name, instances_path(:subsystemName => subsystem.name) %><br />
        <% end %>
      </div>
    </div>
    <div id="class types">
      <h3 class="caps">Class types</h3>
      <div class="box">
        <%= link_to 'All', instances_path %><br />
        <% @availableClasstypes.each do |classtype| %>
          <%= link_to classtype.name, instances_path(:classtypeName => classtype.name) %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="span-18 last" id="instances">
    <%= will_paginate @instances %>
    <table>
      <thead>
       <tr>
          <th>Name</th>
          <th>Classtype</th>
          <th>Subsystem</th>
          <th></th>
       </tr>
      </thead>
      <tbody> 
        <% @instances.each do |instance| %>
        <tr>
          <td><%= link_to instance.name, instancedatasets_path(:instance_id => instance) %></td>
          <td><%= instance.classtype.name %></td>
          <td><%= instance.subsystem.name %></td>
          <td><%= link_to "Details", instance %></td>
        </tr>
  <% end %>
      </tbody>
    </table>
  </div>
</div>

