<h3>Details for instance <%= @instance.name %></h3>
<ul>
<li><strong>Classtype:</strong> <%= @instance.classtype.name %></li>
<li><strong>Subsystem:</strong> <%= @instance.subsystem.name %></li>
<li><strong>Created at:</strong> <%= formatDate(@instance.created_at) %></li>
<li><strong>Updated at:</strong> <%= formatDate(@instance.updated_at) %></li>
<li><strong># of available datasets for this instance:</strong> <%= @instance.instancevaluesets.count %></li>
</ul>
<div class="span-14 append-10 last" id="general">
  <h4>Interface version info</h4>
  <table>
    <thead>
      <tr>
        <th>Version</th>
        <th>Earliest Shot#</th>
        <th>Date</th>
        <th>Short view</th>
        <th>Detailed view</th>
      </tr>
    </thead>
    <tbody>
      <% @interfaceInfo.each do |info| %>
        <tr>
          <td><%= info[:version] %></td>
          <td><%= info[:shot_id] %></td>
          <td><%= formatDate(info[:shotDate]) %></td>
          <td><%= iconName=@instance.viewExists?(info[:version],false) ? "icon_OK.png" : "icon_ERROR.png"
                  image_tag iconName %></td>
          <td><%= iconName=@instance.viewExists?(info[:version],true) ? "icon_OK.png" : "icon_ERROR.png"
                  image_tag iconName %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

