<div class="span-12">
  <h3>Image</h3>
  <% camIsOn=instanceValueSet.getStringParameter("Camera State")=="on/true" ? true : false %>
  <% if camIsOn %>
    <%= displayParameter(instanceValueSet,"Image",
      {:width=>450, :height=>800, :withExport=>true, :withInfo=>true}) %>
  <% else %>
    <%= image_tag "icon_ERROR.png" %>
  <% end %>
</div>
<div class="span-12 last">
  <% polarity=instanceValueSet.instancevalues.
      find_by_name("Trigger Polarity").data_numeric>0 ? true : false %>
  <% if polarity
       polarityIcon="icon_RISING.png"
     else
       polarityIcon="icon_FALLING.png"
     end
  %>
  <h3>Acquisition Parameters</h3>
  <ul>
    <li>Camera State: <%= displayParameter(instanceValueSet,"Camera State") %></li>
    <li>Camera Model: <%= displayParameter(instanceValueSet,"Camera Model") %></li>
    <li>Camera Mode: <%= displayParameter(instanceValueSet,"Current Mode") %></li>
    <li>Brightness: <%= displayParameter(instanceValueSet,"Brightness",{:precision=>0}) %></li>
    <li>Shutter: <%= displayParameter(instanceValueSet,"Shutter",{:precision=>0}) %></li>
    <li>Gain: <%= displayParameter(instanceValueSet,"Gain",{:precision=>0}) %></li>
    <li>Trigger Mode: <%= displayParameter(instanceValueSet,"Trigger Mode",{:precision=>0}) %></li>
    <li>Trigger Timeout: <%= displayParameter(instanceValueSet,"Timeout",{:precision=>0}) %></li>
    <li>Trigger Polarity: <%= image_tag polarityIcon, {:style=>"vertical-align:middle"} %></li>
    <li>Serial Number: <%= displayParameter(instanceValueSet,"Serial Number",{:precision=>0}) %></li>
  </ul>
</div>
