<% instanceValueSets=shot.instancevaluesets %>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"fs_WP_Exit_6PWpGUI") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"ns_WP_RR_6PWpGUI") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPPA_19mm_1_PU") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPPA_19mm_2_PU") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPPA_45mm_MAIN_PU") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPMA_PU1") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPMA_PU2") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPMA_PU3") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPMA_PU4") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPMA_PU5") %></td>
<td class="justifyright"><%= displayShotInstance(instanceValueSets,"PPMA_FR") %></td>
<td class="justifyright PSDB_bold"><%= displayShotInstance(instanceValueSets,"PA_Exit_Powermeter") %></td>
<td class="justifyright PSDB_bold"><%= displayShotInstance(instanceValueSets,"MAS_Powermeter") %></td>
<td class="justifyleft"><%= shot.description %></td>
