<% instanceValueSets=shot.instancevaluesets %>
<td></td>
<td><%= displayShotInstance(instanceValueSets,"PPPA_19mm_1_PU") %></td>
<td><%= displayShotInstance(instanceValueSets,"PPPA_19mm_2_PU") %></td>
<td><%= displayShotInstance(instanceValueSets,"PPPA_45mm_MAIN_PU") %></td>
<td><%= displayShotInstance(instanceValueSets,"PPMA_PU1") %></td>
<td><%= displayShotInstance(instanceValueSets,"PPMA_PU2") %></td>
<td><%= displayShotInstance(instanceValueSets,"PPMA_PU3") %></td>
<td><%= displayShotInstance(instanceValueSets,"PPMA_PU4") %></td>
<td><%= displayShotInstance(instanceValueSets,"PPMA_PU5") %></td>
<td><%= displayShotInstance(instanceValueSets,"PPMA_FR") %></td>
<td class="PSDB_bold"><%= displayShotInstance(instanceValueSets,"PA_Exit_Powermeter") %></td>
<td class="PSDB_bold"><%= displayShotInstance(instanceValueSets,"MAS_Powermeter") %></td>
<td><%= shot.description %></td>
