<h2>Shot list</h2>
<div class="span-24 last" id="search filters">
  <div class="span-12" id="date filter">
    <div class="box">
      <%= form_tag(shots_path, :method => "get") do %>
        <%= label_tag(:from_date, "From:") %>
        <%= text_field_tag(:from_date,@formData[:from_date], :size => 10) %>
        <%= label_tag(:to_date, "to:") %>
        <%= text_field_tag(:to_date,@formData[:to_date], :size => 10) %><br>
        <%= label_tag(:selectedExp, "Experiment:") %>
        <% experimentsArray=[['All',0]]
           experimentsArray+= Experiment.all.map { |exp| [exp.name, exp.id] } %>
        <%= select_tag(:selectedExp,options_for_select(experimentsArray,@formData[:selectedExp])) %>
        <%= label_tag(:shotType, "Shot type:") %>
        <% shottypeArray=[['All',0]]
           shottypeArray+= Shottype.all.map { |shottype| [shottype.name, shottype.id] } %>
        <%= select_tag(:shotType,options_for_select(shottypeArray,@formData[:shotType])) %>
        <%= submit_tag("Filter") %>
      <% end %>
    </div>
  </div>
</div>
<%= page_entries_info @shots %>
<%= will_paginate @shots %>
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-1">Shot#</th>
      <th class="span-4">Date</th>
      <th class="span-1">fsFE WP</th>
      <th>19_1</th>
      <th>19_2</th>
      <th>45</th>
      <th>MA1</th>
      <th class="span-1">MA2</th>
      <th class="span-1">MA3</th>
      <th class="span-1">MA4</th>
      <th class="span-1">MA5</th>
      <th class="span-1">FR</th>
      <th class="span-1">PA Energy</th>
      <th class="span-1">MA Energy</th>
      <th class="span-6">Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @shots.each do |shot| %>
    <% instanceValueSets=shot.instancevaluesets %>
    <tr>
      <td><%= link_to shot.id, shot %></td>
      <td><%= formatDate(shot.created_at, :showSeconds=>false) %></td>
      <td></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPPA_19mm_1_PU") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPPA_19mm_2_PU") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPPA_45mm_MAIN_PU") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPMA_PU1") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPMA_PU2") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPMA_PU3") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPMA_PU4") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPMA_PU5") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PPMA_FR") %></td>
      <td><%# = displayShotInstance(instanceValueSets,"PA_Exit_Powermeter") %></td>
      <td><%= displayShotInstance(instanceValueSets,"MAS_Powermeter") %></td>
      <td><%= shot.description %></td>
      <td><%= displayAttachmentLabel(shot) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate %>
