<h2>Shot list</h2>
<div class="span-24 last" id="search filters">
  <div class="span-12" id="date filter">
    <div class="box">
      <%= form_tag(shots_path, :method => "get") do %>
        <%= label_tag(:from_date, "From:") %>
        <%= text_field_tag(:from_date,@formData[:from_date], :size => 10) %>
        <%= label_tag(:to_date, "to:") %>
        <%= text_field_tag(:to_date,@formData[:to_date], :size => 10) %><br>
        <%= label_tag(:selectedExp, "Experiment:") %>
        <% experimentsArray=[['All',0]]
           experimentsArray+= Experiment.all.map { |exp| [exp.name, exp.id] } %>
        <%= select_tag(:selectedExp,options_for_select(experimentsArray,@formData[:selectedExp])) %> 
        <%= label_tag(:shotType, "Shot type:") %>
        <% shottypeArray=[['All',0]]
           shottypeArray+= Shottype.all.map { |shottype| [shottype.name, shottype.id] } %>
        <%= select_tag(:shotType,options_for_select(shottypeArray,@formData[:shotType])) %> 
        <%= submit_tag("Filter") %>
      <% end %>
    </div>
  </div>
</div>

<%= page_entries_info @shots %>
<%= will_paginate @shots %>
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-1">Shot#</th>
      <th class="span-4">Date</th>
      <th class="span-1">fsFE WP</th>
      <th class="span-1">19_1</th>
      <th class="span-1">19_2</th>
      <th class="span-1">45</th>
      <th class="span-1">Amp1</th>
      <th class="span-1">Amp2</th>
      <th class="span-1">Amp3</th>
      <th class="span-1">Amp4</th>
      <th class="span-1">Amp5</th>
      <th class="span-1">FR</th>
      <th class="span-1">PA Energy</th>
      <th class="span-1">MA Energy</th>
      <th class="span-6">Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @shots.each do |shot| %>
    <tr>
      <td><%= link_to shot.id, shot %></td>
      <td><%= formatDate(shot.created_at) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= shot.description %></td>
      <td><% if shot.attachments.count!=0 %>
            <%= image_tag 'paperclip.png' %>
          <% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate %>
