<h2>Shot list</h2>
<div class="span-24 last" id="search filters">
  <div class="span-12" id="date filter">
    <div class="box">
      <%= form_tag(shots_path, :method => "get") do %>
        <%= label_tag(:from_date, "From:") %>
        <%= text_field_tag(:from_date,@formData[:from_date], :size => 10) %>
        <%= label_tag(:to_date, "to:") %>
        <%= text_field_tag(:to_date,@formData[:to_date], :size => 10) %><br>
        <%= label_tag(:selectedExp, "Experiment:") %>
        <% experimentsArray=[['All',0]]
           experimentsArray+= Experiment.all.map { |exp| [exp.name, exp.id] } %>
        <%= select_tag(:selectedExp,options_for_select(experimentsArray,@formData[:selectedExp])) %>
        <%= label_tag(:shotType, "Shot type:") %>
        <% shottypeArray=[['All',0]]
           shottypeArray+= Shottype.all.map { |shottype| [shottype.name, shottype.id] } %>
        <%= select_tag(:shotType,options_for_select(shottypeArray,@formData[:shotType])) %>
        <%= submit_tag("Filter") %>
      <% end %>
    </div>
  </div>
</div>
<%#= page_entries_info @shots %>
<%= will_paginate @shots %>
<table cellspacing="0">
  <thead>
    <tr>
      <th class="span-1">Shot#</th>
      <th class="span-3">Date</th>
      <%= render projectizeName("shotheader") %>
      <th></th>
    </tr>
  </thead>
  <tbody>
  
  <% @shots.each do |shot| %>
  <% cache "shotline#{shot.id}" do %>
    <% if shot.status==1 %>
    <tr class="failedshot">
    <% else %>
    <tr>
    <% end %>
      <td><%= link_to shot.id, shot %></td>
      <td><%= formatDate(shot.created_at, :showSeconds=>false) %></td>
      <%= render projectizeName("shotline"), :shot=>shot %>
      <td><%= displayAttachmentLabel(shot) %></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
<%= will_paginate %>
