<h2>Shot list</h2>
<div class="span-24 last" id="search filters">
  <div class="span-12" id="date filter">
   <h4 class="caps">Filter by date</h4>
    <div class="box">
      <%= form_tag({:controller => "shots", :action => "index"}, :method => "get") do %>
        <%= label_tag(:startDate, "Start date:") %>
        <%= select_date Date.today-1.month, :prefix => :startDate %><br>
        <%= label_tag(:endDate, "End date:") %>
        <%= select_date Date.today, :prefix => :endDate %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
  <div class="span-12 last" id="experiment filter">
    <h4 class="caps">Filter by experiment</h4>
    <div class="box">
      <%= form_tag({:controller => "shots", :action => "index"}, :method => "get") do %>
        <%= label_tag(:experiment, "Experiment:") %>
        <% possibleExp=options_from_collection_for_select(Experiment.all, :id, :name) %>
        <%= select_tag(:selectedExp,possibleExp) %> 
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>

<%= page_entries_info @shots %>
<%= will_paginate @shots %>
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-1">Shot#</th>
      <th class="span-2">Date</th>
      <th class="span-1">fsFE WP</th>
      <th class="span-1">19_1</th>
      <th class="span-1">19_2</th>
      <th class="span-1">45</th>
      <th class="span-1">Amp1</th>
      <th class="span-1">Amp2</th>
      <th class="span-1">Amp3</th>
      <th class="span-1">Amp4</th>
      <th class="span-1">Amp5</th>
      <th class="span-1">FR</th>
      <th class="span-1">PA Energy</th>
      <th class="span-1">MA Energy</th>
      <th class="span-8">Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @shots.each do |shot| %>
    <tr>
      <td><%= link_to shot.id, shot %></td>
      <td><%= formatDate(shot.created_at) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= shot.description %></td>
      <td><% if shot.attachments.count!=0 %>
            <%= image_tag 'paperclip.png' %>
          <% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate %>
