<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="PHELIX shot database" />
  <meta name="keywords" content="PHELIX,Laser,GSI" />
  <meta name="author" content="Udo Eisenbarth" />
  <meta name="distribution" content="intranet" />
  <meta name="copyright" content="2011© GSI Helmholtzzentrum für Schwerionenforschung" />
  <title><%= pageTitle %></title>
  <%= stylesheet_link_tag "application-all", :media=>"all" %>
  <%= stylesheet_link_tag "application-print", :media=>"print" %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 8]><%= stylesheet_link_tag "application-ie", :media=>"all" %><![endif]-->
  <%= favicon_link_tag %>
</head>
<body>
<div class="container">
  <div id="header" class="span-24">
    <h1>
      <%= link_to image_tag(projectizeName("logo.png")), shots_path %> Z6 Report for Shot #<%= @shot.id %>
    </h1>
  </div>
  <%= render 'shots/reports/z6', :shot=>@shot, :instanceValueSets=>@instanceValueSets %>
</div>
<footer class="quiet">PSDB ( version <%= APP_VERSION %>)</footer>
</body>
</html>
