<h2>Shot #<%= params[:id] %></h2>
<div class="span-24 last" id="topbox">
  <div class="span-11" id="general">
    <div class="box">
      Timestamp: <%= @shot.created_at %><br />
      Experiment: <%= @shot.experiment.name %><br />
      Shot type: <%= @shot.shottype.name %><br />
      Comment: <%= @shot.comment %><br />
      <%= link_to "Edit", edit_shot_path(@shot) %>
    </div>
  </div>
  <div class="span-13 last" id="attachments">
    <div class="box">
      <%= render :partial => "attachments/index", :locals => { :parent => @shot } %>
    </div>
  </div>
</div>
<div class="span-24 last" id="databox">
  <div class="span-6" id="sidebar">
    <div id="subsystems">
      <h3 class="caps">Subsystems</h3>  
      <div class="box">
        <%= link_to 'All', shot_path(@shot) %><br />
        <% @usedSubsystems.each do |usedSubsystem| %>
          <%= usedSubsystem.name %><br />
        <% end %>
      </div>
    </div>
    <div id="class types">
      <h3 class="caps">Class types</h3>
      <div class="box">
        <%= link_to 'All', shot_path(@shot) %><br />
        <% @usedClasses.each do |usedClass| %>
          <%= usedClass.name %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="span-18 last" id="instancedata">
    <% will_paginate @instanceDatas %>
    <table border=0>
      <tr>
        <th>Device</th>
        <th>Result</th>
      </tr>  
      <% @instanceDatas.each do |instancedata| %>
        <tr>
          <td><%= link_to instancedata.instance.name, instance_path(instancedata.instance, :shot_id => @shot) %></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
