<h2>Shot #<%= params[:id] %></h2>
<div class="span-24 last" id="topbox">
  <div class="span-8" id="general">
    <div class="box">
      <strong>Timestamp:</strong> <%= formatDate(@shot.created_at) %><br />
      <strong>Experiment:</strong> <%= @shot.experiment.name %><br />
      <strong>Shot type:</strong> <%= @shot.shottype.name %><br />
      <strong>Comment:</strong> <%= @shot.description %><br />
      <%= link_to "Edit", edit_shot_path(@shot) %>
    </div>
  </div>
  <div class="span-16 last" id="attachments">
    <div class="box">
      <%= render :partial => "attachments/index", :locals => { :parent => @shot } %>
    </div>
  </div>
</div>
<div class="span-24 last" id="databox">
  <div class="span-6" id="sidebar">
    <div id="subsystems">
      <h3 class="caps">Subsystems</h3>  
      <div class="box">
        <%= link_to 'All', shot_path(@shot) %><br />
        <% @usedSubsystems.each do |usedSubsystem| %>
          <%= link_to usedSubsystem.name, shot_path(@shot, :subsystemName => usedSubsystem.name) %><br />
        <% end %>
      </div>
    </div>
    <div id="class types">
      <h3 class="caps">Class types</h3>
      <div class="box">
        <%= link_to 'All', shot_path(@shot) %><br />
        <% @usedClasses.each do |usedClass| %>
           <%= link_to usedClass.name, shot_path(@shot, :classtypeName => usedClass.name) %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="span-18 last" id="instancedata">
    <% will_paginate @instanceDatas %>
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
       <tr>
          <th>Device</th>
          <th>Result</th>
       </tr>
      </thead>
      <tbody> 
        <% @instanceDatas.each do |instancedata| %>
          <tr>
            <td><%= link_to instancedata.instance.name, instance_path(instancedata.instance, :shot_id => @shot) %></td>
            <td><%= render :partial => "instances/instance_short", 
                          :locals => { :instancedata => instancedata, :shot_id => @shot } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
