<h2>Shot #<%= @shot.id %></h2>
<div class="span-24 last" id="topbox">
  <div class="span-8 box" id="general">
    <strong>Timestamp:</strong> <%= formatDate(@shot.created_at) %><br />
    <strong>Experiment:</strong> <%= @shot.experiment %><br />
    <strong>Shot type:</strong> <%= @shot.shottype %><br />
    <strong>Comment:</strong> <%= @shot.description %><br />
    <%= link_to "Edit", edit_shot_path(@shot) %>
  </div>
  <div class="span-16 box last" id="attachments">
    <%= render 'attachments/index',:parent => @shot %>
  </div>
</div>
<div class="span-24 last" id="databox">
  <div class="span-6" id="sidebar">
    <div id="subsystems">
      <h3 class="caps">Subsystems</h3>
      <div class="box">
        <%= link_to 'All', shot_path(@shot,:classtypeName => @selectedClasstypeName) %><br />
        <% @usedSubsystems.each do |usedSubsystem| %>
        <% if @selectedSubsystemName==usedSubsystem.name %>
        <% selection="large loud" %>
        <% else %>
        <% selection="" %>
        <% end %>
          <%= link_to usedSubsystem.name, shot_path(@shot,
              {:subsystemName => usedSubsystem.name, :classtypeName => @selectedClasstypeName }),
              :class=> selection %><br />
        <% end %>
      </div>
    </div>
    <div id="class types">
      <h3 class="caps">Class types</h3>
      <div class="box">
        <%= link_to 'All', shot_path(@shot,:subsystemName => @selectedSubsystemName) %><br />
        <% @usedClasses.each do |usedClass| %>
        <% if @selectedClasstypeName==usedClass.name %>
        <% selection="large loud" %>
        <% else %>
        <% selection="" %>
        <% end %>
           <%= link_to usedClass.name, shot_path(@shot,
               {:classtypeName => usedClass.name, :subsystemName => @selectedSubsystemName }),
               :class=> selection %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="span-18 last" id="instancevaluesets">
    <%= will_paginate @instanceValueSets %>
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
       <tr>
          <th>Device</th>
          <th>Result</th>
       </tr>
      </thead>
      <tbody>
        <% @instanceValueSets.each do |instanceValueSet| %>
          <tr>
            <td><%= link_to instanceValueSet.instance, instanceValueSet %></td>
            <td><%= displayValueSetShort(instanceValueSet) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

