<div class="span-24 last">
  <div class="span-12">
  <%= displayParameter(instanceValueSet,"Rawdata", {:width=>450,:height=>300}) %>
  </div>
  <div class="span-12 last">
    <ul>
      <li class="PSDB_bold">Energy: <%= displayParameter(instanceValueSet,"Energy") %></li>
      <li>T (1/e): <%= displayParameter(instanceValueSet,"T (1/e)") %></li>
      <li>Sensitivity: <%= displayParameter(instanceValueSet,"Sensitivity") %></li>
      <li>Sample Rate: <%= displayParameter(instanceValueSet,"Rate") %></li>
      <li>Serial number: <%= displayParameter(instanceValueSet,"Serial Number") %></li>
    </ul>
  </div>
</div>
