<h3>No specific view for class < <%= instanceDataSet.instance.classtype.name %> Version <%=instanceDataSet.version %> >
 defined..showing generic data</h3>
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-6">Name</th>
      <th class="span-3">Datatype</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% instanceDataSet.instancedatas.includes(:datatype).each do |instancedata| %>
      <tr>
        <td><%= instancedata.name %></td>
        <td><%= instancedata.datatype.name %></td>
        <td><%= render instancedata %></td>
      </tr>
    <% end %>
  </tbody>
</table>

