<h2>Measurement series</h2>
<h3>Filter by date</h3>
<%= form_tag(instancedatasets_path, :method => "get") do %>
  <%= label_tag(:from_date, "From:") %>
  <%= text_field_tag(:from_date,@fromDate) %>
  <%= label_tag(:to_date, "to:") %>
  <%= text_field_tag(:to_date,@toDate) %>
  <%= hidden_field_tag(:instance_id, @instanceId) %>
  <%= submit_tag("Filter") %>
<% end %>
<br />
<%= will_paginate @instanceDataSets %>
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Shot #</th>
      <th>Date</th>
      <th>Device</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody> 
    <% @instanceDataSets.each do |instanceDataSet| %>
      <tr>
        <td><%= link_to instanceDataSet.shot_id, instanceDataSet.shot %></td>
        <td><%= formatDate(instanceDataSet.shot.created_at) %></td>
        <td><%= link_to instanceDataSet.instance.name, instanceDataSet %></td>
        <td><%= render :partial => "instancedatasets/instancedataset_short", 
                      :locals => { :instanceDataSet => instanceDataSet} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
