<h1>Statistics</h1>
<div class="span-24">
  <div class="span-10 append-4" id="general">
    <h3>General</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total number of shots:</td>
          <td><%= Shot.count %></td>
        </tr>
        <tr>
          <td>Number of experiment shots:</td>
          <td><%= Shot.where(:shottype_id=>1).count %></td>
        </tr>
        <tr>
          <td>Number of failed shots:</td>
          <td><%= @nrOfFailedShots %></td>
        </tr>
        <tr>
          <td>Total number of experiments:</td>
          <td><%= Experiment.count %></td>
        </tr>
        <tr>
          <td>Average number of shots/experiment</td>
          <td><%= @avgShotsPerExperiment %></td>
        </tr>
        <tr>
          <td>Number of days with experiment shots:</td>
          <td><%= "#{@nrOfShotDays} (#{number_to_percentage(100.0*@nrOfShotDays/@nrOfDaysPerYear,:precision => 1)} of the year)" %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span-10 last">
    <h3>Technical</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of subsystems:</td>
          <td><%= Subsystem.count %></td>
        </tr>
        <tr>
          <td>Number of class types:</td>
          <td><%= Classtype.count %></td>
        </tr>
        <tr>
          <td>Number of instances:</td>
          <td><%= Instance.count %></td>
        </tr>
        <tr>
          <td>Total number of instance value sets:</td>
          <td><%= Instancevalueset.count %></td>
        </tr>
        <tr>
          <td>Total number of instance values:</td>
          <td><%= Instancevalue.count %></td>
        </tr>
        <tr>
          <td>Total number of file attachments:</td>
          <td><%= Attachment.count %></td>
        </tr>
        <tr>
          <td>Environment:</td>
          <td><%= Rails.env.to_s %></td>
        </tr>
        <tr>
          <td>Database type:</td>
          <td><%= @databaseType %></td>
        </tr>
        <tr>
          <td>PSDB used space:</td>
          <td><%= number_to_human_size(@dbStats[:bytesUsed]) %></td>
        </tr>
        <tr>
          <td>PSDB free space:</td>
          <td><%= number_to_human_size(@dbStats[:bytesFree]) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="span-10 append-14 last" id="linklist">
  <h3>Further analysis</h3>
  <%= link_to "Shots per day", "calendar" %>
</div>
</div>
