<ul>
  <li class="PSDB_bold">Position: <%= displayParameter(instanceValueSet,axisName+": Position") %></li>
  <li>Calibration Factor: <%= displayParameter(instanceValueSet,axisName+": Calibration Factor") %></li>
  <li>Sign Change?: <%= displayParameter(instanceValueSet,axisName+": Sign Change?") %></li>
  <li>Motor type: <%= displayParameter(instanceValueSet,axisName+": Motor Type") %></li>
  <li>Sixpack / Axis: <%= displayParameter(instanceValueSet,axisName+": Sixpack") %> 
      (Axis <%= displayParameter(instanceValueSet,axisName+": Axis", :precision=>0) %>)</li>
</ul>
