<div class="span-10">
  <%= image_tag "PPPA.jpg" %><br>
</div>
<div id="Udo" class="span-14 last">
<ul>
  <li><strong>PU in use?:</strong> <%= displayParameter(instanceValueSet,"PU in use?") %></li>
  <li><strong>Machine State:</strong> <%= displayParameter(instanceValueSet,"Machine State") %></li>
  <li><strong>Timeout State:</strong> <%= displayParameter(instanceValueSet,"Timeout") %></li>
  <li><strong>Voltage:</strong> <%= displayParameter(instanceValueSet,"Voltage") %></li>
</ul>
</div>
