<div class="span-24 last">
<div class="span-10">
  <%= image_tag "PPPA.jpg" %><br>
</div>
<div class="span-14 last">
<ul>
  <li><strong>PU in use?:</strong> <%= displayParameter(instanceValueSet,"PU in use?") %></li>
  <li><strong>Machine State:</strong> <%= displayParameter(instanceValueSet,"Machine State") %></li>
  <li><strong>Timeout State:</strong> <%= displayParameter(instanceValueSet,"Timeout") %></li>
  <li><strong>Voltage:</strong> <%= displayParameter(instanceValueSet,"Voltage") %></li>
  <li><strong>State:</strong> <%= displayParameter(instanceValueSet,"State") %></li>
</ul>
</div>
</div>
