<h3>No specific view for class < <%= instanceValueSet.instance.classtype %>
Version <%=instanceValueSet.version %> > defined..showing generic data</h3>
<table>
  <thead>
    <tr>
      <th class="span-6">Name</th>
      <th class="span-3">Datatype</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% instanceValueSet.instancevalues.includes(:datatype).each do |instancevalue| %>
      <tr>
        <td><%= instancevalue.name %></td>
        <td><%= instancevalue.datatype %></td>
        <td><%= displayValue(instancevalue) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

