<h2>Measurement series</h2>
<h3>Filter by date</h3>
<%= form_tag(instancevaluesets_path, :method => "get") do %>
  <%= label_tag(:from_date, "From:") %>
  <%= text_field_tag(:from_date,@formData[:from_date]) %>
  <%= label_tag(:to_date, "to:") %>
  <%= text_field_tag(:to_date,@formData[:to_date]) %>
  <%= hidden_field_tag(:instance_id, @formData[:instance_id]) %>
  <%= hidden_field_tag(:plotParameter, @formData[:plotParameter]) %>
  <%= submit_tag("Filter") %>
<% end %>
<br />
<div class="span-12">
  <%= page_entries_info @instanceValueSets %>
  <%= will_paginate @instanceValueSets %>
  <table>
    <thead>
      <tr>
        <th>Shot #</th>
        <th>Date</th>
        <th>Device</th>
        <th class="span-3">Result</th>
      </tr>
    </thead>
   <tbody> 
      <% @instanceValueSets.each do |instanceValueSet| %>
        <tr>
          <td><%= link_to instanceValueSet.shot_id, instanceValueSet.shot %></td>
          <td><%= formatDate(instanceValueSet.shot.created_at) %></td>
          <td><%= link_to instanceValueSet.instance.name, instanceValueSet %></td>
          <td><%= render :partial => "instancevaluesets/instancevalueset_short", 
                        :locals => { :instanceValueSet => instanceValueSet} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="span-12 last">
  <% if @doPlot %>
    <div class="box">
        <%= form_tag(instancevaluesets_path, :method => "get") do %>
          <%= label_tag(:plotParameter, "Plot parameter:") %>
          <%= select_tag(:plotParameter,options_for_select(@parameterArray,@formData[:plotParameter])) %>
          <%= hidden_field_tag(:instance_id, @formData[:instance_id]) %>
          <%= hidden_field_tag(:from_date, @formData[:from_date]) %>
          <%= hidden_field_tag(:to_date, @formData[:to_date]) %>
          <%= submit_tag("Draw") %>
        <% end %>
      </div>
    <% generatePlot(@xyValues,1,{:width=>450,:height=>300,:xlabel=>"shot#",:ylabel=>@yLabel}) %>
    <%= image_tag "tmp/series1.png" %>
  <% else %>
    No numerical data for plot available
  <% end %>
</div>
