<p>
Background substraction: <%= displayParameter(instanceValueSet,"BI Subtraction Failure?",{:icon=>true, :invert=>true}) %>
Cam calibration: <%= displayParameter(instanceValueSet,"Calibration: Cam Error",{:icon=>true, :invert=>true}) %>
Size calibration: <%= displayParameter(instanceValueSet,"Calibration: Linear: no mm",{:icon=>true, :invert=>true}) %></li>
Energy calibration: <%= displayParameter(instanceValueSet,"Calibration: Energy: no mJ",{:icon=>true, :invert=>true}) %></li>
</p>
<div id="tabs">
  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#calibration">Cam/Calibration</a></li>
    <li><a href="#traceanalysis">Trace Analysis</a></li>
    <li><a href="#operation">Operation Image</a></li>
    <li><a href="#background">Background Image</a></li>
    <li><a href="#fillfactor">Fill factor</a></li>
  </ul>
  <div id="overview">
    <%= render "instancevaluesets/PH_ImageOperator/overview_4", :instanceValueSet=>instanceValueSet %>
  </div>
  <div id="calibration">
    <%= render "instancevaluesets/PH_ImageOperator/calibration_4", :instanceValueSet=>instanceValueSet %>
  </div>
  <div id="traceanalysis">
    <%= render "instancevaluesets/PH_ImageOperator/traces_4", :instanceValueSet=>instanceValueSet %>
  </div>
  <div id="operation">
    <%= displayParameter(instanceValueSet,"Operation Image",{:width=>450, :height=>800, :withExport=>true}) %>
  </div>
  <div id="background">
    <%= displayParameter(instanceValueSet,"Background Image",{:width=>450, :height=>800, :withExport=>true}) %>
  </div>
  <div id="fillfactor">
    <%= render "instancevaluesets/PH_ImageOperator/fillfactor_4", :instanceValueSet=>instanceValueSet %>
  </div>
</div>
