<% if instanceValueSet.getBooleanParameter("Trace Analysis: Analysis on?")==true %>
<div class="container">
  <div class="span-22">
    <div class="span-14">
      <% urlOptions={:controller => "dynamic_images", :action => "showMultiPlot", :id=>instanceValueSet.id,
                  :parameterNames=>"Trace Analysis: Maj Trace,Trace Analysis: Maj Gauss Fit",
                  :width=>550, :height=>200} %>
      <img src="<%= url_for urlOptions %>"/>
    </div>
    <div class="span-8 last">
      <h3>Major Axis</h3>
      <ul>
        <li>FWHM: <%= displayParameter(instanceValueSet,"Trace Analysis: Maj FWHM",
                      {:precision=>2, :iconIfNotFound=>true}) %></li>
        <li>99% Width: <%= displayParameter(instanceValueSet,"Trace Analysis: Maj 99% Width",
                      {:precision=>2, :iconIfNotFound=>true}) %></li>
        <li>Fit order: <%= displayParameter(instanceValueSet,"Trace Analysis: Maj Gauss Fit Order",
                      {:precision=>0, :iconIfNotFound=>true}) %></li>
      </ul>
    </div>
  </div>
  <div class="span-22">
    <div class="span-14">
      <% urlOptions={:controller => "dynamic_images", :action => "showMultiPlot", :id=>instanceValueSet.id,
                  :parameterNames=>"Trace Analysis: Min Trace,Trace Analysis: Min Gauss Fit",
                  :width=>550, :height=>200} %>
      <img src="<%= url_for urlOptions %>"/>
    </div>
    <div class="span-8 last">
      <h3>Minor Axis</h3>
      <ul>
        <li>FWHM: <%= displayParameter(instanceValueSet,"Trace Analysis: Min FWHM",
                      {:precision=>2, :iconIfNotFound=>true}) %></li>
        <li>99% Width: <%= displayParameter(instanceValueSet,"Trace Analysis: Min 99% Width",
                      {:precision=>2, :iconIfNotFound=>true}) %></li>
        <li>Fit order: <%= displayParameter(instanceValueSet,"Trace Analysis: Min Gauss Fit Order",
                      {:precision=>0, :iconIfNotFound=>true}) %></li>
      </ul>
    </div>
  </div>
</div>
<% else %>
  no data
<% end %>
