<h3>Attached documents</h3>
<table border=0>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Date added</th>
    <th></th>
  </tr>
  <% linkPath = "/#{parent.class.to_s.downcase}s/#{parent.id}/attachments/" %>
  <% parent.attachments.each do |attachment| %>
    <tr>
      <td><%= link_to attachment.filename, linkPath+attachment.id.to_s %></td>
      <td><%= attachment.description %></td>
      <td><%= attachment.filetype %></td>
      <td><%= attachment.created_at %></td>
      <td>
        <%= link_to "Edit", linkPath+attachment.id.to_s+"/edit" %>
        <%= link_to "Delete", [parent,attachment],
                             :method => :delete, :confirm => "Are You sure?",
                             :title => "Delete #{attachment.filename}" %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Add document", linkPath+"new" %>
