<h3>Edit attachment</h3>
<%= form_for [@parent, @attachment], :html => {:multipart => true} do |a| %>
  <%= render 'shared/error_messages', :object => a.object %>
  <div class="field">
    <%= a.label :filename %><br />
    <%= a.file_field :content %>
  </div>
  <div class="field">
    <%= a.label :description %><br />
    <%= a.text_field :description, :size => 75 %>
  </div>
  <div class="actions">
    <%= a.submit "Update Attachment" %>
    <%= a.submit "Cancel", :name => "cancel" %>
  </div>
<% end %>
