<p style="margin-top:10em">
<div class="span-8 justifycenter">
    <%= link_to image_tag("icon_experiment.png"), experiments_path %><br>
    <h2><%= link_to "Experiments", experiments_path %></h2>
</div>
<div class="span-8 justifycenter">
    <%= link_to image_tag("icon_shot.png"), shots_path %><br>
    <h2><%= link_to "Shots", shots_path %></h2>
</div>
<div class="span-8 last justifycenter">
    <%= link_to image_tag("icon_instance.png"), instances_path %><br>
    <h2><%= link_to "Instances", instances_path %></h2>
</div>

