<h2>Experiment <%= @experiment.name %></h1>
<%= form_for(@experiment) do |e| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= e.label :name %><br />
    <%= e.text_field :name %>
  </div>
  <div class="field">
    <%= e.label :description %><br />
    <%= e.text_field :description %>
  </div>
  <div class="actions">
    <%= e.submit "Update Experiment" %>
    <%= e.submit "Cancel", :name => "cancel" %>
  </div>
<% end %>
