<h2>Available Experiments</h2>
<%= link_to 'Add new experiment', new_experiment_path %>
<%= will_paginate @experiments %>
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-1">Name</th>
      <th class="span-1"></th>
      <th class="span-10">Description</th>
      <th class="span-1">Active?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @experiments.each do |experiment| %>
      <tr>
        <td><%= link_to experiment.name, experiment %></td>
        <td><% if experiment.attachments.present? %>
              <%= image_tag 'paperclip.png' %>
            <% end %></td>
        <td><%= experiment.description %></td>
        <td><%= experiment.active? ? 'yes' : 'no' %></td>
        <td><%= link_to 'Edit', edit_experiment_path(experiment) %>
            <% if experiment.attachments.present?
              @confirmation="There are documents attached to the experiment, which WILL BE LOST if the experiment is deleted. Are You sure you want to do this?"
               else
              @confirmation="Are You sure?"
              end %>
              <%= link_to_if(experiment.shots.empty?,"Delete",
                             experiment,{:method => :delete, :confirm=> @confirmation,:title => "Delete #{experiment.name}"}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @experiments %>
