<h2>Experiment <%= @experiment.name %></h2>
<hr>
<strong>Description: </strong> <%= @experiment.description %><br>
<strong>Created at: </strong> <%= formatDate(@experiment.created_at) %><br>
<strong>Updated at: </strong> <%= formatDate(@experiment.updated_at) %><br>
<strong>Number of shots: </strong> <%= @experiment.shots.count %><br>
<hr>
<%= render :partial => "attachments/index", :locals => { :parent => @experiment } %>
<hr>
<%= link_to "Back to experiments", experiments_path %>
