<h2>Experiment <%= @experiment.name %></h2>
<hr>
<b>Description: </b> <%= @experiment.description %><br>
<b>Created at: </b> <%= @experiment.created_at %><br>
<b>Updated at: </b> <%= @experiment.updated_at %><br>
<hr>
<%= render :partial => "attachments/index", :locals => { :parent => @experiment } %>
<hr>
<%= link_to "Back to experiments", experiments_path %>
