<h2>Experiment <%= @experiment.name %></h2>
<div class="span-24 last" id="topbox">
  <div class="span-8" id="general">
    <div class="box">
      <strong>Description: </strong> <%= @experiment.description %><br>
      <strong>Created at: </strong> <%= formatDate(@experiment.created_at) %><br>
      <strong>Updated at: </strong> <%= formatDate(@experiment.updated_at) %><br>
      <strong>Active: </strong> <%= @experiment.active? ? 'yes' : 'no' %><br>
      <%= link_to "Edit", edit_experiment_path(@experiment) %>
    </div>
  </div>
  <div class="span-16 last" id="attachments">
    <div class="box">
      <%= render :partial => "attachments/index", :locals => { :parent => @experiment } %>
    </div>
  </div>
</div>
<hr>
<h3>Shot statistics</h3>
<% nrOfShots=@experiment.shots.count %>
<% if (nrOfShots>0) %>
  <strong>First shot was: </strong> <%= formatDate(@experiment.shots.minimum("created_at")) %><br>
  <strong>Latest shot was: </strong> <%= formatDate(@experiment.shots.maximum("created_at")) %><br>
  <strong># of beamtimes: </strong> <%= @beamtimes.length() %><br>
  <div class="span-9 append-15 last">
    <table>
      <thead>
        <tr>
          <th class="span-5">Date</th>
          <th class="span-2">first shot#</th>
          <th class="span-2">last shot#</th>
        </tr>
      </thead>
      <tbody>
       <% @beamtimes.each do |beamtime| %>
        <tr>
         <td><% firstDate=formatDate(Shot.find(beamtime[:firstId]).created_at, {:dateOnly => true})
                lastDate=formatDate(Shot.find(beamtime[:lastId]).created_at, {:dateOnly => true})
                dateSpan=firstDate+" - "+lastDate %>
          <%= link_to dateSpan, shots_path({:from_date=>firstDate,:to_date=>lastDate,:selectedExp=>@experiment.id}) %>
          </td>
         <td><%= beamtime[:firstId] %></td>
         <td><%= beamtime[:lastId] %></td>
        </tr>
       <% end %>
      </tbody>
    </table>
  </div>
  <div class="span-5 last">
  <table border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="span-3">Shot type</th>
        <th class="span-2"># of shots</th>
      </tr>
    </thead>
    <tbody>
      <% Shottype.all.each do |shottype| %>
        <% shotNr=@experiment.shots.where(:shottype_id => shottype).count %>
        <% if shotNr>0 %>
          <tr>
            <td><%= shottype.name %></td>
            <td><%= shotNr %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= nrOfShots %></strong></td>
      </tr>
    </tbody>
  </table>
  </div><br>
<% else %>
  No shots connected with this experiment.<br>
<% end %>
<hr>
<%= link_to "Back to experiments", experiments_path %>
