<div class="span-10">
  <%= image_tag "mercurymonitor.png" %><br>
</div>
<div class="span-14 last">
  <% onState=instanceValueSet.getStringParameter("State On/Off",:upcase=>true)
  if onState=="OFF/FALSE"
   deviceOn=false
   onoffIconName="icon_OFF.png"
  else
   deviceOn=true
   onoffIconName="icon_ON.png"
  end
  alarmState=instanceValueSet.getStringParameter("State Alarm",:upcase=>true)
  if alarmState=="OFF/FALSE"
    alarmIconName="icon_OK.png"
  else
    alarmIconName="icon_ERROR.png"
  end
  onState
%>
  <ul>
    <li><strong>Device Status:</strong><%= image_tag onoffIconName, {:style=>"vertical-align:middle"} %></li>
  <% if deviceOn %>
    <li><strong>On since:</strong><%= displayParameter(instanceValueSet,"On since") %></li>
    <li><strong>Concentration:</strong><%= displayParameter(instanceValueSet,"Concentration", :precision=>4) %></li>
    <li><strong>Alarm Status:</strong><%= image_tag alarmIconName, {:style=>"vertical-align:middle"} %></li>
  <% end %>
  </ul>
</div>

