<%= javascript_include_tag 'tabs' %>
<div class="span-24 last">
<div class="span-16">
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">PreAmp</a></li>
    <li><a href="#tabs-2">MA1</a></li>
    <li><a href="#tabs-3">MA2</a></li>
    <li><a href="#tabs-4">MA3</a></li>
    <li><a href="#tabs-5">MA4</a></li>
    <li><a href="#tabs-6">MA5</a></li>
    <li><a href="#tabs-7">FR</a></li>
  </ul>
  <div id="tabs-1">
    <% fileName=instanceValueSet.generatePlot(["PPPA PU 19 - 1","PPPA PU 19 - 2",
                                         "PPPA PU 19 - 1 Ret","PPPA PU 19 - 2 Ret",
                                         "PPPA PU Ground",
                                         "PPPA PU 45 - 1","PPPA PU 45 - 2",
                                         "PPPA PU 45 Ret","PPPA PU 45 Dummy 1",
                                         "PPPA PU 45 Dummy 2"],
                                          7,{:width=>600, :height=>400}) %>
    <% if fileName.blank? %>
      no data
    <% else %>
      <%= image_tag fileName %>
    <% end %>
  </div>
  <div id="tabs-2">
    <% fileName=instanceValueSet.generatePlot(["PPMA PU 1 1","PPMA PU 1 2","PPMA PU 1 3",
                                           "PPMA PU 1 4","PPMA PU 1 5","PPMA PU 1 6",
                                           "PPMA PU 1 7","PPMA PU 1 8","PPMA PU 1 9",
                                           "PPMA PU 1 10","PPMA PU 1 Refl","PPMA PU 1 Ground"],
                                            1,{:width=>600, :height=>400}) %>
    <% if fileName.blank? %>
      no data
    <% else %>
      <%= image_tag fileName %>
    <% end %>
  </div>
  <div id="tabs-3">
     <% fileName=instanceValueSet.generatePlot(["PPMA PU 2 1","PPMA PU 2 2","PPMA PU 2 3",
                                           "PPMA PU 2 4","PPMA PU 2 5","PPMA PU 2 6",
                                           "PPMA PU 2 7","PPMA PU 2 8","PPMA PU 2 9",
                                           "PPMA PU 2 10","PPMA PU 2 Refl","PPMA PU 2 Ground"],
                                            2,{:width=>600, :height=>400}) %>
     <% if fileName.blank? %>
       no data
     <% else %>
       <%= image_tag fileName %>
     <% end %>
  </div>
  <div id="tabs-4">
     <% fileName=instanceValueSet.generatePlot(["PPMA PU 3 1","PPMA PU 3 2","PPMA PU 3 3",
                                           "PPMA PU 3 4","PPMA PU 3 5","PPMA PU 3 6",
                                           "PPMA PU 3 7","PPMA PU 3 8","PPMA PU 3 9",
                                           "PPMA PU 3 10","PPMA PU 3 Refl","PPMA PU 3 Ground"],
                                            3,{:width=>600, :height=>400}) %>
     <% if fileName.blank? %>
       no data
     <% else %>
       <%= image_tag fileName %>
     <% end %>
  </div>
  <div id="tabs-5">
     <% fileName=instanceValueSet.generatePlot(["PPMA PU 4 1","PPMA PU 4 2","PPMA PU 4 3",
                                           "PPMA PU 4 4","PPMA PU 4 5","PPMA PU 4 6",
                                           "PPMA PU 4 7","PPMA PU 4 8","PPMA PU 4 9",
                                           "PPMA PU 4 10","PPMA PU 4 Refl","PPMA PU 4 Ground"],
                                            4,{:width=>600, :height=>400}) %>
     <% if fileName.blank? %>
       no data
     <% else %>
       <%= image_tag fileName %>
     <% end %>
  </div>
  <div id="tabs-6">
    <% fileName=instanceValueSet.generatePlot(["PPMA PU 5 1","PPMA PU 5 2","PPMA PU 5 3",
                                           "PPMA PU 5 4","PPMA PU 5 5","PPMA PU 5 6",
                                           "PPMA PU 5 7","PPMA PU 5 8","PPMA PU 5 9",
                                           "PPMA PU 5 10","PPMA PU 5 Refl","PPMA PU 5 Ground"],
                                            5,{:width=>600, :height=>400}) %>
    <% if fileName.blank? %>
      no data
    <% else %>
      <%= image_tag fileName %>
    <% end %>
  </div>
  <div id="tabs-7">
    <% fileName=instanceValueSet.generatePlot(["FR 1","FR 2","FR 3",
                                           "FR 4","FR 5","FR Ground"],
                                            6,{:width=>600, :height=>400}) %>
    <% if fileName.blank? %>
      no data
    <% else %>
      <%= image_tag fileName %>
    <% end %>
  </div>
</div>
</div>
<div class="span-8 last">
<ul>
  <li>Scaling Factor: <%= displayParameter(instanceValueSet.instancevalues,"Scaling Factor") %></li>
  <li>Status RT Client 1: <%= instanceValueSet.getStringParameter("Status RT Client 1") %></li>
  <li>Status RT Client 2: <%= instanceValueSet.getStringParameter("Status RT Client 2") %></li>
  <li>Status RT Client 3: <%= instanceValueSet.getStringParameter("Status RT Client 3") %></li>
  <li>Status RT Client 4: <%= instanceValueSet.getStringParameter("Status RT Client 4") %></li>
  <li>Status RT Client 5: <%= instanceValueSet.getStringParameter("Status RT Client 5") %></li>
</ul>
</div>
</div>
