<%= image_tag "sixpack.jpg" %><br>
<div id="tabs">
  <ul>
    <li><a href="#gen">General<br/>.</a></li>
    <% axisName=instanceValueSet.getStringParameter("Axis 0") %>
    <% axisName = axisName.nil? ? "<no name>" : axisName %>
    <li><a href="#axis0">Axis 0<br/><%= axisName %></a></li>
    <% axisName=instanceValueSet.getStringParameter("Axis 1") %>
    <% axisName = axisName.nil? ? "<no name>" : axisName %>
    <li><a href="#axis1">Axis 1<br/><%= axisName %></a></li>
    <% axisName=instanceValueSet.getStringParameter("Axis 2") %>
    <% axisName = axisName.nil? ? "<no name>" : axisName %>
    <li><a href="#axis2">Axis 2<br/><%= axisName %></a></li>
    <% axisName=instanceValueSet.getStringParameter("Axis 3") %>
    <% axisName = axisName.nil? ? "<no name>" : axisName %>
    <li><a href="#axis3">Axis 3<br/><%= axisName %></a></li>
    <% axisName=instanceValueSet.getStringParameter("Axis 4") %>
    <% axisName = axisName.nil? ? "<no name>" : axisName %>
    <li><a href="#axis4">Axis 4<br/><%= axisName %></a></li>
    <% axisName=instanceValueSet.getStringParameter("Axis 5") %>
    <% axisName = axisName.nil? ? "<no name>" : axisName %>
    <li><a href="#axis5">Axis 5<br/><%= axisName %></a></li>
  </ul>
  <div id="gen">
    <ul>
      <li>Serial Number: <%= displayParameter(instanceValueSet,"Serial Number", :precision=>0) %></li>
      <li>Firmware Version: <%= displayParameter(instanceValueSet,"Firmwareversion", :precision=>0) %></li>
      <li>Interface: <%= displayParameter(instanceValueSet,"Interface") %></li>
    </ul>
  </div>
  <div id="axis0">
    <%= render "instancevaluesets/PH_Sixpack/axis", {:instanceValueSet=> instanceValueSet,:axis=>"0"} %>
  </div>
  <div id="axis1">
    <%= render "instancevaluesets/PH_Sixpack/axis", {:instanceValueSet=> instanceValueSet,:axis=>1} %>
  </div>
  <div id="axis2">
    <%= render "instancevaluesets/PH_Sixpack/axis", {:instanceValueSet=> instanceValueSet,:axis=>2} %>
  </div>
  <div id="axis3">
    <%= render "instancevaluesets/PH_Sixpack/axis", {:instanceValueSet=> instanceValueSet,:axis=>3} %>
  </div>
  <div id="axis4">
    <%= render "instancevaluesets/PH_Sixpack/axis", {:instanceValueSet=> instanceValueSet,:axis=>4} %>
  </div>
  <div id="axis5">
    <%= render "instancevaluesets/PH_Sixpack/axis", {:instanceValueSet=> instanceValueSet,:axis=>5} %>
  </div>
</div>
