<div id="powerdisplay" style="position:relative;">
  <%= image_tag "Powermeter2.png" %>
  <div style="position:absolute;top: 90px; left: 170px;
  width:290px; height:210px;
  border-width:0px;border-style:solid;border-color:blue;
  font-weight:bold; opacity: .75;">
  <div style="text-align:left;">Range: <%= displayParameter(instanceValueSet.instancevalues,"Range") %></div>
  <div style="text-align:left;">Trigger level: <%= displayParameter(instanceValueSet.instancevalues,"Trigger Level") %></div>
  <div style="text-align:left;">Scaling factor: <%= displayParameter(instanceValueSet.instancevalues,"Scaling Factor") %></div>
  <% deviceStatus=instanceValueSet.getStringParameter("Device State",:upcase=>true) %>
  <div style="text-align:center;font-size:3.5em; line-height:3em">
  <% if deviceStatus=="ON/TRUE" %>
     <%= displayParameter(instanceValueSet.instancevalues,"Energy") %>
  <% else %>
    ERROR
  <% end %>
 </div>
 <div style="text-align:center;line-height:3em">S/N: <%= displayParameter(instanceValueSet.instancevalues,"Serial Number") %> </div>
  </div>
</div>

