<div class="span-24">
<div class="prepend-8 span-8 append-8">
<div id="loginform">
<%= form_for @user_session do |form| %>
  <%= form.label :login, "Login" %><br/>
  <%= form.text_field :login %><br/>
  <%= form.label :password, "Password" %><br/>
  <%= form.password_field :password %><br/>
<div id="signin">
  <%= form.submit "Sign in" %>
</div>
</div>
<% end %>
</div>
</div>
