<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'custom' %>
</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1>
        <%= image_tag("Phelix-logo.png", :alt => "PHELIX", :class => "round") %>
        Shot database
      </h1>
    </div>
    <hr />
    <section class="round">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>
  </div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
