<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="PHELIX shot database" />
  <meta name="keywords" content="PHELIX,Laser,GSI" />
  <meta name="author" content="Udo Eisenbarth" />
  <meta name="distribution" content="intranet" />
  <meta name="copyright" content="2011© GSI Helmholtzzentrum für Schwerionenforschung" />
  <title><%= pageTitle %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application-all", :media=>"all" %>
  <%= stylesheet_link_tag "application-print", :media=>"print" %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 8]><%= stylesheet_link_tag "application-ie", :media=>"all" %><![endif]-->
  <%= favicon_link_tag %>
</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1>
        <%= link_to image_tag(projectizeName("logo.png")), shots_path %>
        Shot database
      </h1>
    </div>
    <div class="span-24 last">
      <div id="wrapper3">
        <div class="holder">
          <ul class="menu">
            <li><%= link_to "Experiments",experiments_path %></li>
            <li><%= link_to "Shots",shots_path %></li>
            <li><%= link_to "Instances",instances_path %></li>
            <li><%= link_to "Statistics", :controller => "statistics", :action => "overview" %></li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <section>
      <% flash.each do |key, value| %>
        <div id="errorflash" class="flash <%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </section>
  <footer class="quiet">PSDB ( version <%= APP_VERSION %>) - <%= link_to "About","/pages/about" %> -
  <%= link_to "Version", "/pages/changelog" %></footer>
<%# The following line is a hack for IE since it does not support "zebra" table colouring CSS :-( %>
<!--[if lt IE 9] >
<script>$("tr:even").css("background-color", "#e5ecf9");</script>
<![endif]-- >
  <%= debug(params) if Rails.env.development? %>
 </div>
</body>
</html>

