<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="PHELIX shot database" />
  <meta name="keywords" content="PHELIX,Laser,GSI" />
  <meta name="author" content="Udo Eisenbarth" />
  <meta name="distribution" content="intranet" />
  <meta name="copyright" content="2011© GSI Helmholtzzentrum für Schwerionenforschung" />
  <title><%= pageTitle %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application-all", :media=>"all" %>
  <%= stylesheet_link_tag "application-print", :media=>"print" %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 8]><%= stylesheet_link_tag "application-ie", :media=>"all" %><![endif]-->
  <%= stylesheet_link_tag params[:controller] %>
  <%= favicon_link_tag %>
</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1>
        <%= link_to image_tag(projectizeName("logo.png")), shots_path %>
        Shot database
      </h1>
    </div>
    <hr />
    <section>
      <% flash.each do |key, value| %>
        <div id="errorflash" class="flash <%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </section>
  <footer class="quiet">PSDB ( version <%= APP_VERSION %>) - <%= link_to "About","/pages/about" %> -
  <%= link_to "Version", "/pages/changelog" %></footer>
  <%= debug(params) if Rails.env.development? %>
 </div>
</body>
</html>

